.Footer {
    p {
        margin-bottom: 20px;
    }
    .Section-container {
        overflow: hidden;
    }
}

.Footer-list {
    float: left;
    width: 250px;
    padding-top: 10px;
    @include mq($until: 500px) {
        float: none;
        padding-top: 0;
        & + & {
            margin-top: 30px;
        }
    }
}
.Footer-list--elsewhere {
    width: 200px;
}
.Footer-item {
    font-size: 15px;
    margin-bottom: 4px; 
    * {
        color: #fff;
    }
    &:first-child {
        margin-bottom: 8px;
    }
}
.Footer-logos {
    float: right;
    width: 170px;
    img {
        width: 100%;
    }
    a {
        transition: opacity .2s ease-in-out;
        opacity: 0.2;
        display: block;
        &:hover {
            opacity: 0.7;
        }
    }
    a + a {
        margin-top: 15px;
    }
    @include mq($until: 800px) {
        float: none;
        clear: both;
        padding-top: 30px;
        width: 100%;
        a {
            display: inline-block; 
            vertical-align: top;
        }
        a + a {
            margin-top: 0; 
            margin-left: 15px;
        }
        img {
            width: 130px;
        }
        .Footer-logo--uka {
            width: 170px;
            margin-top: 8px;
        }
    }
    @include mq($until: 350px) {
        a {
            display: block;
        }
        a + a {
            margin-top: 0; 
            margin-left: 0;
        }
    }
}
.Footer-coda {
    margin-top: 30px;
    clear: both;
    background: rgba(0,0,0,0.2);
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    p {
        margin-bottom: 0;
        color: #888;
    }
    a {
        color: #888;
        text-decoration: underline;
    }
}