.Testimonial {
    font-style: italic;
    font-size: 17px;
    margin-top: 30px;
    color: #fff;
    p {
        margin-bottom: 0;
    }
    footer {
        padding-top: 6px;
        font-size: 14px;
        color: rgba(255,255,255,0.6);
    }
    cite {
        font-style: normal;

    }
}