{% extends '_layouts/skeleton.html' %}

{% block body %}

<header class="Section Section--header">
    <div class="Section-container Section-containerBranding">
        <div class="Branding receptacle">
            <span class="Branding-name fn">Sarah Perkins</span>
            <span class="Branding-strapline">Running coaching for individuals and groups</span>
        </div>
    </div>
</header>

<div class="Section Section--intro">
    <div class="Section-container receptacle">
        <div class="Section-text">
            <p class="lede">I'm a Brighton-based running coach with a passion for motivating people to run more, run further and run faster. I work with people of all abilities to help them enjoy their running more, improve their times and achieve their personal goals.</p>
            <p>If you want to have a chat about how I can help you with your running, drop me an email at <a href="mailto:hello@runwithsarah.co.uk">hello@runwithsarah.co.uk</a> or give me a ring on <span class="tel">07787 332 800</span>.</p>
        </div>
    </div>
</div>

<div class="Section Section--trainingplans Section--aside">
    <div class="Section-container receptacle">
        <div class="Section-content">
            <div class="Section-aside">
                <img src="/assets/img/training-planner.png" alt="Training planner example">
            </div>
            <div class="Section-text">
                <h2 class="Section-title">Personal training plans &amp; coaching</h2>
                <p>Everybody is different, and often a personalised training plan and individual coaching sessions can be the best way to help you progress in your running. I can provide weekly, bespoke training plans to help achieve your goals that are grounded in reality and organised around your other daily commitments. I'm also available for one-to-one coaching sessions and personal training runs of all lengths.</p>
                <blockquote class="Testimonial">
                    <p>"I cannot recommend Sarah highly enough&hellip; She is understanding and motivating, creating a plan that works for you and fits in with your schedule. If you're thinking about it, then get in touch. It's one of the best things I've ever done!"</p>
                    <footer>
                        &mdash; <cite>Bonamy Gauvain</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="Section Section--groups Section--asideAlt">
    <div class="Section-container receptacle">
        <div class="Section-content">
            <div class="Section-aside">
                 <img src="/assets/img/group-sessions.jpg" alt="Group Running Session">
            </div>
            <div class="Section-text">
                <h2 class="Section-title">Group sessions</h2>
                <p>If you like the social aspect of running with others but still want to get feedback and advice on your running, then maybe a group session is for you. These sessions are between 1 and 1.5 hours long, have a maximum of six people per group and take place in the Brighton and Hove area. Please <a href="mailto:hello@runwithsarah.co.uk">get in touch</a> to find out current group run times and locations.</p>
            </div>
        </div>
    </div>
</div>

<div class="Section Section--about Section--aside">
    <div class="Section-container receptacle">
        <div class="Section-content">
            <div class="Section-aside">
                <img src="/assets/img/sarah.jpg" alt="Photo of Sarah Perkins">
            </div>
            <div class="Section-text">
                <h2 class="Section-title">About Me</h2>
                <p>I'm a trail runner at heart but love competing in long and ultra distance events on all surfaces. I've won or placed on the podium at a number of races in the UK over the last few years, including wins at the Thames Trot ultra and Steyning Stinger marathon and a 2nd place finish in the National 100km championships. I have two small children and an <a href="http://ultraperk.com">ultra-running husband</a> so I know what it's like to try and fit training into an already busy life!</p>
                <p>I'm an Ambassador for <a href="http://profeet.co.uk">Profeet</a>, a <a href="http://www.britishathletics.org.uk/">UKA</a> accredited Leader in Running Fitness and have previously worked with a number of other running groups and organisations in the Brighton and Hove area.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block coda %}
<div class="Section-container Footer-coda">
    <div class="receptacle">
        <p>Header photo credit: <a href="http://julianporter.com">Julian Porter</a>. All other content and images &copy; Sarah Perkins.</p>
    </div>
</div>
{% endblock %}